// Global variables that would be used accross the app
$shadow-bottom: 0px 13px 12px -5px rgba(0, 0, 0, 0.103);
$shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
$shadow-sm: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
$primary: rgb(10,57,224);
$light_text: #bebebe;
$dark_bg: #cdcdcd9c;

// --------------FREDQUENTLY USED STYLES----------------

// flex
@mixin position($align: center, $justify: center, $flow: row) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $flow;
}


// scale down a little on click
@mixin click-animation(){
	&:active {
		transform: scale(90%);
		transition: 0.2s;
	}
}


// Responsiveness with different breakpoints for different screens
$breakpoints: (
	'xsm': 300px,
	'sm': 700px,
	'md': 800px,
	'lg': 1000px,
	'xl': 1250px,
);

@mixin xsm {
	@media (max-width: map-get($breakpoints, 'xsm')) {
		@content;
	}
}
@mixin sm {
	@media (max-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}
@mixin md {
	@media (max-width: map-get($breakpoints, 'md')) {
		@content;
	}
}
@mixin lg {
	@media (max-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}
@mixin xl {
	@media (max-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}

// custom breakpoint
@mixin media($bp) {
	@media (max-width: $bp) {
		@content;
	}
}
